*{

}

#container-div{
    margin: auto;
    justify-self: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid yellow;
    flex-wrap: wrap;
    flex-direction: row;
    height: 320px;
    width: 320px;
}

.grid-item{
    flex: 1 0;
    background-color: red;
    border: 2px solid black;
    padding: 8px;
}