*{

}

.button-container{
    display: flex;
    justify-content: center;
}

#rgb, #opacity, #change-size, #grayscale{
    flex: 1 1 1;
    margin: 10px;
    border-radius: 3px;
    color: white;
    background-color: rgb(255, 0, 144);
}

#container-div{
    aspect-ratio: 1 / 1;
    max-width: 600px;
    max-height: 600px;
    margin: 30px auto;
    justify-self: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    flex-wrap: wrap;
    flex-direction: row;

}

.grid-item{
    box-sizing: border-box;
    background-color: white ;
    border: 0.5px solid black;
}