*{

}

.button-container{
    display: flex;
    justify-content: center;
}

#rgb, #opacity, #change-size, #grayscale{
    flex: 1 1 1;
    margin: 10px;
    border-radius: 3px;
    color: white;
    background-color: rgb(255, 0, 144);
}

#container-div{
    aspect-ratio: 1 / 1;
    margin: auto;
    justify-self: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid yellow;
    flex-wrap: wrap;
    flex-direction: row;

}

.grid-item{
    aspect-ratio: 1 / 1;
    flex: 1 0 6.25%;
    background-color: red;
    border: 2px solid black;
}